<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block meta %}
          <title>plaan</title>
          <meta property="og:url" content="https://ffoodd.github.io/plaan/">
          <meta property="og:title" content="plaan">
          <meta property="og:type" content="article">
          <meta property="og:description"
                name="description" content="Editable seating plan using web thinggies">
          <meta name="twitter:card" content="summary">
        {% endblock %}
        <script>
          document.documentElement.classList.remove('no-js');
          document.documentElement.classList.add('js');
        </script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/styles.min.css" media="all">
        <link rel="stylesheet" href="css/print.min.css" media="print">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
      <main role="main" id="main" tabindex="-1" itemprop="mainContentOfPage" style="--rows:{{ grid.rows }}; --cols:{{ grid.cols }};">
        {% block main %}
          {% set cells = grid.rows * grid.cols %}
          {% set empty = cells - casting.length %}
          <ul class="room no-list no-margin" id="room">
            {% for label, character in casting %}
              {% set style = '--y: ' ~ character.y ~ '; --x: ' ~ character.x ~ ';' %}
              {% if character.span != undefined %}
                {% set span = '--span: ' ~ character.span %}
              {% else %}
                {% set span = '' %}
              {% endif %}
              <li class="character tooltip" style="{{ style }}{{ span }}">
                <button type="button" aria-describedby="{{ label }}-name">{{ character.name }}</button>
                <div role="tooltip" id="{{ label }}-name">
                  <form class="grid-2">
                    <label class="sr-only" for="{{ label }}-y">Ligne</label>
                    <input type="number" step="1" min="1" class="no-margin" data-key="{{ label }}"
                           value="{{ character.y }}" max="{{ grid.rows }}" id="{{ label }}-y"/>
                    <label class="sr-only" for="{{ label }}-x">Colonne</label>
                    <input type="number" step="1" min="1" class="no-margin" data-key="{{ label }}"
                           value="{{ character.x }}"max="{{ grid.cols }}" id="{{ label }}-x"/>
                  </form>
                </div>
              </li>
            {% endfor %}
          </ul>
          <ul class="room no-list no-margin">
            {% for cell in range(3, empty) %}
              <li role="presentation"></li>
            {% endfor %}
          </ul>
        {% endblock %}
      </main>

      <!--<aside role="complementary">
        <a download="plaan.json">Exporter</a>
        <form>
          <label for="import">Importer</label>
          <input id="import" name="import" type="file" accept="json" class="sr-only"/>
          <input id="reset" name="reset" type="reset" value="Annuler les modifications"/>
        </form>
      </aside>-->

      {% block scripts %}
        <script src="js/script.min.js"></script>
      {% endblock %}
    </body>
</html>
