<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block meta %}
          <title>plaan</title>
          <meta property="og:url" content="https://ffoodd.github.io/plaan/">
          <meta property="og:title" content="plaan">
          <meta property="og:type" content="article">
          <meta property="og:description"
                name="description" content="Editable seating plan using web thinggies">
          <meta name="twitter:card" content="summary">
        {% endblock %}
        <script>
          document.documentElement.classList.remove('no-js');
          document.documentElement.classList.add('js');
        </script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/styles.min.css" media="all">
        <link rel="stylesheet" href="css/print.min.css" media="print">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
      <header role="banner">
        {% block skiplinks %}
          <div>
            <a href="#nav" class="sr-only sr-only-focusable">Aller à la navigation</a>
            <a href="#main" class="sr-only sr-only-focusable">Aller au contenu</a>
          </div>
        {% endblock %}

        <nav role="navigation" id="nav" aria-label="Navigation principale">
          {% block navigation %}
            <ul class="fly-out">
              <li><a aria-current="page">Accueil</a></li>
            </ul>
          {% endblock %}
        </nav>
      </header>

      <main role="main" id="main" tabindex="-1" itemprop="mainContentOfPage">
        {% block main %}

        {% endblock %}
      </main>

      {% block scripts %}
        <script src="js/script.min.js"></script>
      {% endblock %}

      {% block modal %}
      {% endblock %}
    </body>
</html>
