@charset "UTF-8";

[role="main"] {
  display: grid;
  gap: $gutter;
  grid-template: repeat(var(--rows, 4), 1fr) / repeat(var(--cols, 7), 1fr);
  height: 100vh;
  margin: 0;
  padding: 1rem;
  width: 100vw;
}

#plan {
  display: contents;

  [style] {
    grid-area: var(--y, 2) / var(--x, 2) / span var(--span, 1) / auto;
  }

  button {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

@supports (grid-template-rows: subgrid) {
  #shadow {
    display: grid;
    gap: $gutter;
    grid-area: #{1} / #{2} / span var(--rows) / span calc(var(--cols) - 1);
    grid-template-columns: repeat(calc(var(--cols) - 1), 1fr);
    grid-template-rows: subgrid;

    [role="presentation"] {
      background: hsla(var(--muted-light), .25);
      border-radius: .25rem;
    }
  }
}

.table {
  contain: strict;
  border-radius: .25rem;
  display: grid;
  grid-template-areas:
    "↖ ↑ ↗"
    "← • →"
    "↙ ↓ ↘";
  height: 100%;
  margin: auto;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 .25rem hsla(var(--accent-light),.25);

    button {
      background-color: hsl(var(--accent-dark));
    }
  }

  h2 {
    all: unset;
    color: hsl(var(--contrast));
    font-size: 1rem;
    grid-area: •;
    text-align: center;
  }
}

[class="↑"] {
  grid-area: ↑;
}

[class="↓"] {
  grid-area: ↓;
}

[class="→"] {
  grid-area: →;
}

[class="←"] {
  grid-area: ←;
}

[class="arrows"] {
  grid-area: ↖ / ↖ / ↘ / ↗ ;

  &:focus {
    isolation: initial;
  }
}

[data-controls] {
  line-height: 1;
}

aside {
  background: hsl(var(--contrast));
  border: 1px solid hsl(var(--accent));
  border-radius: .25rem;
  clip: rect(0, 2.125rem, 2.125rem, 0);
  left: $gutter;
  position: fixed;
  top: $gutter;
  transition: clip .3s var(--move), box-shadow .3s var(--enter);
  will-change: clip, box-shadow;

  &:hover {
    clip: auto;
    box-shadow: 0 0 0 .25rem hsla(var(--accent), .25);
  }

  &:focus-within {
    clip: auto;
    box-shadow: 0 0 0 .25rem hsla(var(--accent), .25);
  }

  button {
    border-radius: 0 0 .25rem 0;
    line-height: .875;
    word-spacing: $gutter / 2;
  }

  form {
    padding: $gutter;
  }
}

@supports (clip-path: inset(-.25rem -.25rem -.25rem -.25rem)) {
  aside {
    clip: unset;
    clip-path: inset(0 calc(100% - 2.125rem) calc(100% - 2.125rem) 0);
    transition: clip-path .3s var(--move), box-shadow .3s var(--enter);
    will-change: clip-path, box-shadow;

    &:hover,
    &:focus-within {
      clip-path: inset(-.25rem -.25rem -.25rem -.25rem);
      box-shadow: 0 0 0 .25rem hsla(var(--accent), .25);
    }
  }
}

[download] {
  &,
  &:hover,
  &:focus {
    color: hsl(var(--muted));
    text-decoration: line-through;
  }

  &[href] {
    color: hsl(var(--secondary-dark));
    text-decoration: underline;

    &:hover,
    &:focus {
      color: hsl(var(--secondary));
    }
  }
}

@media screen and (orientation: landscape) {
  li {
    height: 100%;
    margin: auto;
    width: 7rem;
  }

  .table {
    /**
     * @note Writing-mode
     ** 1. For everyone except Firefox
     ** 2. Firefox is the only one supporting the nicer value
     * @link https://developer.mozilla.org/fr/docs/Web/CSS/writing-mode#Compatibilité_des_navigateurs
     */
    h2 {
      writing-mode: vertical-lr; /* 1 */
      writing-mode: sideways-lr; /* 2 */
    }
  }
}

@media screen and (orientation: portrait) {
  /**
   * @note Writing-mode
   ** 1. For everyone except Firefox
   ** 2. Firefox is the only one supporting the nicer value
   * @link https://developer.mozilla.org/fr/docs/Web/CSS/writing-mode#Compatibilité_des_navigateurs
   */
  main {
    writing-mode: vertical-rl;
  }

  li {
    writing-mode: horizontal-tb;
  }
}
