@charset "UTF-8";

[role="main"] {
  display: grid;
  gap: $gutter;
  grid-template: repeat(var(--rows, 9), 1fr) / repeat(var(--cols, 16), 1fr);
  height: 100vh;
  margin: 0;
  padding: 1rem;
  width: 100vw;
}

.room {
  display: contents;

  li {
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 100%;
    line-height: 1;
  }

  [style] {
    grid-area: var(--y, 2) / var(--x, 2) / span var(--span, 1) / auto;
  }

  div {
    height: 100%;
    width: 100%;
  }

  button {
    border: 0;
    margin: 0;
    padding: 0;
  }

  + .room::after,
  + .room::before,
  [role="presentation"] {
    background: hsla(var(--muted-light), .25);
    border-radius: .25rem;
    content: "";
    justify-self: center;
  }

  + .room::after {
    grid-area: 1 / 1;
  }

  + .room::before {
    grid-area: var(--rows) / 1;
  }
}

.table {
  contain: strict;
  border-radius: .25rem;
  display: grid;
  grid-template-areas:
    "↖ ↑ ↗"
    "← • →"
    "↙ ↓ ↘";
  margin: auto;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 .25rem hsla(var(--accent-light),.25);

    button {
      background-color: hsl(var(--accent-dark));
    }
  }

  [id="↑"] {
    grid-area: ↑;
  }

  [id="↓"] {
    grid-area: ↓;
  }

  [id="→"] {
    grid-area: →;
  }

  [id="←"] {
    grid-area: ←;
  }

  h2 {
    all: unset;
    color: hsl(var(--contrast));
    font-size: 1rem;
    grid-area: •;
    text-align: center;
  }

  .arrows {
    grid-area: ↖ / ↖ / ↘ / ↗ ;

    &:focus {
      isolation: initial;
    }
  }

  [data-controls] {
    line-height: 1;
  }
}

input[type="number"] {
  appearance: initial;
  width: 6ch;

  &:valid:focus,
  &:invalid:focus {
    background-image: none;
  }
}

#settings {
  border-radius: 0 0 .25rem 0;

  &,
  & + div {
    left: 0;
    position: fixed;
    top: 0;
  }

  + div {
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s var(--move);
    will-change: transform;
  }

  &[aria-expanded="true"] + div {
    transform: translateX(0);
  }
}

@media screen and (orientation: landscape) {
  .room {
    div,
    [role="presentation"] {
      width: 7rem;
    }
  }

  .table {
    /**
     * @note Writing-mode
     ** 1. For everyone except Firefox
     ** 2. Firefox is the only one supporting the nicer value
     * @link https://developer.mozilla.org/fr/docs/Web/CSS/writing-mode#Compatibilité_des_navigateurs
     */
    h2 {
      writing-mode: vertical-lr; /* 1 */
      writing-mode: sideways-lr; /* 2 */
    }
  }
}

@media screen and (orientation: portrait) {
  /**
   * @note Writing-mode
   ** 1. For everyone except Firefox
   ** 2. Firefox is the only one supporting the nicer value
   * @link https://developer.mozilla.org/fr/docs/Web/CSS/writing-mode#Compatibilité_des_navigateurs
   */
  main {
    writing-mode: vertical-rl;
  }

  li {
    writing-mode: horizontal-tb;
  }
}
