@charset "UTF-8";

[role="main"] {
  display: grid;
  gap: $gutter;
  grid-template: repeat(var(--rows, 9), 1fr) / repeat(var(--cols, 16), 1fr);
  height: 100vh;
  margin: 0;
  padding: 1rem;
  width: 100vw;
}

.room {
  display: contents;

  li {
    align-items: center;
    display: flex;
    font-weight: bold;
    line-height: 1;
  }

  button {
    height: 100%;
    width: 100%;
  }

  .grid-2 {
    gap: $gutter;
  }
}

[style] {
  grid-area: var(--posY, 2) / var(--posX, 2) / span var(--span, 1) / auto;
}

[role="presentation"] {
  background: hsla(var(--muted-light), .25);
  border-radius: .25rem;
  justify-self: center;
}

[role="tooltip"] {
  padding: $gutter;
  z-index: 2;
}

[type="number"] {
  appearance: textfield;
  width: 4ch;
}

@media screen and (orientation: landscape) {
  .room {
    /**
     * @note Writing-mode
     ** 1. For everyone except Firefox
     ** 2. Firefox is the only one supporting the nicer value
     * @link https://developer.mozilla.org/fr/docs/Web/CSS/writing-mode#Compatibilité_des_navigateurs
     */
    li {
      writing-mode: vertical-lr; /* 1 */
      writing-mode: sideways-lr; /* 2 */
    }

    button,
    [role="presentation"] {
      width: 7rem;
    }

    [role="tooltip"] {
      writing-mode: initial;
    }
  }
}

@media screen and (orientation: portrait) {
  .room {
    grid-template: repeat(var(--cols, 9), 1fr) / repeat(var(--rows, 16), 1fr);

    button,
    [role="presentation"] {
      width: 100%;
    }
  }

  [style] {
    grid-area: var(--posX, 2) / var(--posY, 2) / auto / span var(--span, 1);
  }
}
