@charset "UTF-8";

/* ==================== */
/* == sseeeedd
/* ==================== */
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

$full-width: true;

@import "vendors/normalize";

@import "base/base";
@import "base/typography";
@import "base/contents";
@import "base/images";
@import "base/forms";
@import "base/buttons";
@import "base/helpers";

@import "layout/base";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";

@import "components/tooltips";
@import "components/cards";
@import "components/fly-out";
@import "components/switch";

/* ==================== */
/* == Custom
/* ==================== */
.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-absolute {
  position: absolute !important;
}

/* ==================== */
/* == Plaan
/* ==================== */
@import "plaan";
